# OS
.DS_Store

# Logs
*.log

# Frontend
frontend/node_modules/
frontend/dist/
frontend/tsconfig.tsbuildinfo

# Go
backend/bin/

# Env
.env
.env.*
!.env.template

# Uploads
static/uploads/**
!static/uploads/.gitkeep
